    <style>
#navcont {
    background-color: #002F55;
    padding:36px;
    z-index:1;
    position:relative;
}
.navbar { 
    padding:0px;
    display:flex;
    align-items: baseline;
    margin: auto;
    justify-content: center;
    flex-wrap:wrap;
    line-height: 1em;
    margin-top:12px;
}
article {
    width: 60%;
    margin: 12px auto;
    padding: 22px;
    background-color: #d2d2d2;
}
img.logo {
    width: 42px;
    margin-bottom: -4px;
    margin-right: 4px;
}
#logo {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #DEB645;
    text-align:center;
    margin:0;
}
.navbtn{
    font-family: Montserrat, sans-serif;
    font-size:1.25em;
    padding: 0px 16px 0px 16px;
    color: white;
	transition: 0.3s;

}
.navbtn a{
        text-align: center;
}
.dark{
    color:#002F55;
}
        </style>
    <nav id="navcont">
        <div id="logo"><span style="color: #C73E12;">ACT</span><span>EUROPA</span></div>
        <ul class="navbar">
            <li><a class="navbtn" href="http://acteuropa.eu/">BLOG</a></li>
            <li><a class="navbtn" href="http://acteuropa.eu/manifesto">MANIFESTO</a></li>
            <li><a class="navbtn" style="opacity:1;" href="http://data.acteuropa.eu/">POLITICAL DATA</a></li>
            <li><a class="navbtn" href="http://vote.acteuropa.eu/">VOTE EUROPA</a></li>
        </ul>
    </nav>