    <style>
#navcont {
    background-color: #002F55;
    padding:36px;
    z-index:1;
    position:relative;
}
#topbar{
    position:absolute;
    right:24px;
    top:24px;
}
.navbar { 
    padding:0px;
    display:flex;
    align-items: baseline;
    margin: auto;
    justify-content: center;
    flex-wrap:wrap;
    line-height: 1em;
    margin-top:12px;
}
article {
    width: 60%;
    margin: 12px auto;
    padding: 22px;
    background-color: #d2d2d2;
}
img.logo {
    width: 42px;
    margin-bottom: -4px;
    margin-right: 4px;
}
#logo {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #DEB645;
    text-align:center;
    margin:0;
}
.navbtn{
    font-family: Montserrat, sans-serif;
    font-size:1.25em;
    padding: 0px 16px 0px 16px;
    color: white;
	transition: 0.3s;
}
.language{
    font-family: Montserrat, sans-serif;
    font-size:0.9em;
    opacity:1;
    color: white;
	transition: 0.3s;
}
.navbtn a{
        text-align: center;
}
.navbtn img{
    max-width:24px;
    max-height:24px;
}
.dark{
    color:#002F55;
}
        </style>
            <script>
function setCookie(cname, cvalue) {document.cookie = cname + "=" + cvalue + ";path=/";} 
function getCookie(cname) { var name = cname + "="; var decodedCookie = decodeURIComponent(document.cookie); var ca = decodedCookie.split(';');  for(var i = 0; i <ca.length; i++) { var c = ca[i];while (c.charAt(0) == ' ') {    c = c.substring(1);}if (c.indexOf(name) == 0) {    return c.substring(name.length, c.length);}}return "";} 
    </script>
    <nav id="navcont">
        <div id="logo"><span style="color: #C73E12;">ACT</span><span>EUROPA</span></div>
        <ul class="navbar">
            <li><a class="navbtn" <%if(headerIndex==0){%>style="opacity:1;"<%}%> href="/"><%= __('BLOG')%></a></li>
            <li><a class="navbtn" <%if(headerIndex==1){%>style="opacity:1;"<%}%> href="/manifesto"><%= __('MANIFESTO')%></a></li>
            <li><a class="navbtn" <%if(headerIndex==2){%>style="opacity:1;"<%}%> href="/data"><%= __('DATABASE')%></a></li>
            <li><a class="navbtn" <%if(headerIndex==3){%>style="opacity:1;"<%}%> href="http://vote.acteuropa.eu/"><%= __('VOTEEUROPA')%></a></li>
        </ul>
        <nav id="topbar">
            <a class="navbtn" style="font-size:0.9em; vertical-align:baseline;"><%= __('Log in')%></a>
            <select style="background-color:transparent;text-align:right;color:white;font-size:0.9em;margin:0;padding:0;" class="language nice-select wide" onchange="setCookie('lang',this.options[this.selectedIndex].value);location.reload();">
                <option value="bg" <%if(lang=='bg'){%>selected<%}%>>български</option>
                <option value="cr" <%if(lang=='cr'){%>selected<%}%>>hrvatski</option>
                <option value="cs" <%if(lang=='cs'){%>selected<%}%>>Čeština</option>
                <option value="da" <%if(lang=='da'){%>selected<%}%>>Dansk</option>
                <option value="nl" <%if(lang=='nl'){%>selected<%}%>>Nederlands</option>
                <option value="en" <%if(lang=='en'){%>selected<%}%>>English</option>
                <option value="et" <%if(lang=='et'){%>selected<%}%>>Eesti keel</option>
                <option value="fi" <%if(lang=='fi'){%>selected<%}%>>Suomi</option>
                <option value="fr" <%if(lang=='fr'){%>selected<%}%>>Français</option>
                <option value="de" <%if(lang=='de'){%>selected<%}%>>Deutsche</option>
                <option value="el" <%if(lang=='el'){%>selected<%}%>>Ελληνικά</option>
                <option value="hu" <%if(lang=='hu'){%>selected<%}%>>Magyar</option>
                <option value="ga" <%if(lang=='ga'){%>selected<%}%>>Gaeilge</option>
                <option value="it" <%if(lang=='it'){%>selected<%}%>>Italiano</option>
                <option value="lv" <%if(lang=='lv'){%>selected<%}%>>Latviešu valoda</option>
                <option value="lt" <%if(lang=='lt'){%>selected<%}%>>Lithuanian</option>
                <option value="mt" <%if(lang=='mt'){%>selected<%}%>>Malti</option>
                <option value="pl" <%if(lang=='pl'){%>selected<%}%>>Polskie</option>
                <option value="pt" <%if(lang=='pt'){%>selected<%}%>>Português</option>
                <option value="ro" <%if(lang=='ro'){%>selected<%}%>>Română</option>
                <option value="sk" <%if(lang=='sk'){%>selected<%}%>>Slovenský jazyk</option>
                <option value="sl" <%if(lang=='sl'){%>selected<%}%>>Slovenski jezik</option>
                <option value="es" <%if(lang=='es'){%>selected<%}%>>Español</option>
                <option value="sv" <%if(lang=='sv'){%>selected<%}%>>Svenska</option>
            </select>
           
        </nav>
    </nav>