<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ActEuropa</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/common/css/normalize.css">
    <link rel="stylesheet" href="/database/css/main.css">
    <link rel="stylesheet" href="/common/css/metricsgraphics.css">
    <link rel="stylesheet" href="/common/css/zebra_dialog.css">
    <link rel="stylesheet" href="/common/font-awesome/css/font-awesome.min.css">

    <% include ../../Partials/Favicons+Fonts.html %>
</head>

<body>
    <% include ../../Partials/Header.html %>
        <style>
            .transparent {
                background-color: transparent;
            }

            .discretetext {
                font-size: 0.8em;
                opacity: 0.75;
            }

            .block {
                background-color: rgba(255, 255, 255, 0.5);
                padding: 18px;
                margin-top: 12px;
                border: dashed rgba(0, 0, 0, 0.36) 1px;
                transition: border 200ms;
            }

            .block:hover {
                border: solid rgba(0, 0, 0, 0.5) 1px;
            }

            [data-localized] {
                border-width: 1px;
                border-style: dashed;
            }

            .inputprops {
                display: inline-block;
                height: 20px;
                font-family: Montserrat, sans-serif;
                font-size: 12px;
                font-weight: bold;
                text-transform: uppercase;
                margin-left: 6px;
            }

            .inputprops a.selected {
                opacity: 1;
                color: #c73e12;
            }

            textarea {
                resize: none;
            }

            button.arbtn {
                background: transparent;
                color: #002f55;
                opacity: 0.5;
                border: none;
            }

            button.arbtn:hover {
                opacity: 0.75;
            }

            button.arbtn:active {
                opacity: 1;
            }

            .range_val {
                font-family: Montserrat, sans-serif;
                position: relative;
                margin: auto;
                width: 50%;
                text-align: center;
            }

            .sectionHeader {
                font-size: 1.4em;
            }

            .arrayItem {
                background-color: rgba(255, 255, 255, 0.5);
                padding: 24px;
                padding-bottom: 6px;
                border: 1px dotted #002f55;
                margin-top: 4px;
            }

            .fw {
                width: 100%;
            }

            label {
                font-weight: bold;
            }

            .arrayItem .styledinput {
                background-color: transparent;
            }

            .arrayItem .add,
            .arrayItem .remove {
                background-color: rgba(0, 0, 0, 0.1);
                border: none;
                margin-top: 24px;
                font-family: Montserrat, sans-serif;
            }

            .fa-angle-right {
                transition: transform 300ms ease;
            }
            /* TODO: Don't hide the first remove button if there are more than one arrayItems */

            div:first-child>.remove {
                visibility: hidden;
            }

            h2 {
                cursor: pointer;
            }
        </style>
        <script></script>
        <div class="center">
            <h1 style="font-family:Montserrat, sans-serif;color:#002f55;">Edit database entry</h1>
            <div id="stickyLanguage" style="background-color:#eaeaea; z-index:10;width:100%;padding:6px;margin:0 -6px">
                <label style="color:#002f55;">Editing language:&nbsp;&nbsp;&nbsp;</label>
                <span>
                <select id="currentlang" class="nice-select wide left" autocomplete="off">
                    <option value="bg">български</option>
                    <option value="cr">hrvatski</option>
                    <option value="cs">Čeština</option>
                    <option value="da">Dansk</option>
                    <option value="nl">Nederlands</option>
                    <option value="en" selected="true">English</option>
                    <option value="et">Eesti keel</option>
                    <option value="fi">Suomi</option>
                    <option value="fr">Français</option>
                    <option value="de">Deutsch</option>
                    <option value="el">Ελληνικά</option>
                    <option value="hu">Magyar</option>
                    <option value="ga">Gaeilge</option>
                    <option value="it">Italiano</option>
                    <option value="lv">Latviešu valoda</option>
                    <option value="lt">Lithuanian</option>
                    <option value="mt">Malti</option>
                    <option value="pl">Polskie</option>
                    <option value="pt">Português</option>
                    <option value="ro">Română</option>
                    <option value="sk">Slovenský jazyk</option>
                    <option value="sl">Slovenski jezik</option>
                    <option value="es">Español</option>
                    <option value="se">Svenska</option>
               </select>
              </span>
            </div>
            <span class="discretetext">Inputs that can be in multiple languages have a <span style="border-width:1px;border-style:dashed;">&nbsp;dashed border.&nbsp;</span></span><br>

            <% include ../../Partials/Database/Edit/Person.html %>
                <h2>Visibility</h2>
                <div>
                    <input type="radio" name="v" value="0" autocomplete="off" data-property="visibility">&nbsp;Visible<br>
                    <input type="radio" name="v" value="1" autocomplete="off" data-property="visibility">&nbsp;Hidden<br>
                    <input type="radio" name="v" value="2" autocomplete="off" data-property="visibility">&nbsp;Not indexed
                    (only visible with a direct link)
                </div>
                <br>
                <br><br>
                <button id="viewjson" class="sendbutton">VIEW JSON</button>
                <button id="sendjson" class="sendbutton" style="margin-left:2px;">UPLOAD</button>
                <br><br>
                <div id="loader" style="background-color:#002f55;position:fixed;right:0;top:0;left:0;bottom:0;z-index:200;display:none;">
                    <div style="font-family:Montserrat,sans-serif;color:#c73e12;position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);">UPLOADING DATA</div>
                </div>
        </div>
        <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.sticky/1.0.1/jquery.sticky.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/stefangabos/Zebra_Dialog/dist/zebra_dialog.min.js"></script>
        <script>
            var editingObject = {}; //The object that represents the currently editing data

            //Update the indicator text when you change a range control:
            $("input[type='range']").on("input", function () {
                $(this).prev("div").text($(this).val())
            })

            //Set up the "remove" and "add" button on arrayItems
            $(".arrayItem").each(function (index, elem) {
                $(elem)
                    .append("<button class='add' title='insert new element below'>+</button>")
                    .append("<button class='remove' title='delete this element'>-</button>")
            })

            //Set up the language indicator (inputprops) before each localized field:
            $("[data-localized]").each(function (index, elem) {
                if (elem.attributes["data-property"] != undefined)
                    $(elem).before("<div class='inputprops' data-lang='" + elem.attributes["data-property"].value + "'></div>")
            })

            //For optimal UX, the localized fields should update as you type:
            $("[data-localized]").on("input", function () {
                $(this).change();
            })
            var selectize = $("#currentlang").selectize()[0].selectize;
            function languageClick(e) {
                selectize.setValue(selectize.search(e.innerHTML).items[0].id);
            }
            //Changing the editing language:
            $("#currentlang").change(function () {
                var objs = $(".inputprops a");
                var currentlang = $("#currentlang").val();
                objs.removeClass("selected");
                objs.each(function (i) {
                    if (objs[i].innerHTML == currentlang)
                        $(objs[i]).addClass("selected")
                });
                locinputs = $("[data-localized]");
                locinputs.each(function (i) {
                    var lang = "";
                    if (this.attributes["data-localized"] != undefined) {
                        lang = "." + $("#currentlang").val();
                    }
                    var path = this.attributes["data-property"].value;
                    if (path === "") {
                        lang = "";
                    }
                    path = path.replace(" ", "");
                    if (this.parentElement.attributes["data-property-alt"] != undefined) {
                        path = this.parentElement.attributes["data-property-alt"].value + "[" + this.parentElement.attributes["data-index"].value + "]" + path;
                    }
                    $(locinputs[i]).val(_.get(editingObject, path + lang));
                })
            });
            //Changing any property binded to the editingObject:
            $("[data-property]").change(function () {
                var lang = "";
                if (this.attributes["data-localized"] != undefined) {
                    lang = "." + $("#currentlang").val();
                }
                var path = this.attributes["data-property"].value;
                if (path != "") {
                    if (path === "") {
                        lang = "";
                    }
                    path = path.replace(" ", "");
                    $(this).parents(".arrayItem").each(function (i, elem) {
                        path = elem.getAttribute("data-property-alt") + "[" + elem.getAttribute("data-index") + "]" + path;
                    })
                    if (this.attributes["type"] != undefined && this.attributes["type"].value == "checkbox") {
                        _.set(editingObject, path + lang, this.checked)
                    }
                    else {
                        if (path != "")
                            _.set(editingObject, path + lang, $(this).val())
                        else
                            delete _.get(editingObject, path + lang)
                    }
                    if (this.value == "")
                        _.unset(editingObject, path + lang)
                    if (this.attributes["data-localized"] != undefined) {
                        var valuelist = "";
                        var s = _.get(editingObject, path)
                        const list = {};
                        Object.keys(s).sort().forEach(function (key) {
                            list[key] = s[key];
                        });

                        for (x in list) {
                            x = $("<a/>", { text: x }).attr("onclick", "languageClick(this)");
                            x.addClass("langAnchor")
                            if ($("#currentlang").val() == x.text()) x.addClass("selected");
                            valuelist = valuelist + "&nbsp;&nbsp;" + x[0].outerHTML;
                        }
                        var inp = $(this).prev(".inputprops")
                        inp.html(valuelist);
                    }
                }
            })

            //Update the data-index properties when you add or remove arrayItems
            var updateindexes = function (parent) {
                parent.children(".arrayItem").each(function (index, elem) {
                    $(elem).attr("data-index", index)
                })
            }

            //Add a new arrayItem by cloning and clearing the previous one
            $(".add").click(function () {
                var parent = $(this.parentElement);
                var newitem = parent.clone(true).hide();
                $(newitem.children("textarea, input")).val("");
                $(newitem.children(".inputprops")).html("");
                parent.after(newitem);
                newitem.slideDown(200);
                updateindexes(parent.parent(), newitem);
                var index = newitem.attr("data-index");
                //There's a problem here when arrayItems are inside others
                var path = "";
                $(this).parents(".arrayItem").each(function (i, elem) {
                    if (i != 0) path = elem.getAttribute("data-property-alt") + "[" + elem.getAttribute("data-index") + "]" + path;
                    else path = elem.getAttribute("data-property-alt");
                })
                _.get(editingObject, path).splice(index, 0, {});
                editingObject[path]
            })

            //Remove an arrayItem:
            $(".remove").click(function () {
                var parent = $(this.parentElement);
                var path = "";
                $(this).parents(".arrayItem").each(function (i, elem) {
                    if (i != 0) path = elem.getAttribute("data-property-alt") + "[" + elem.getAttribute("data-index") + "]" + path;
                    else path = elem.getAttribute("data-property-alt");
                })
                var index = parent.attr("data-index");
                _.get(editingObject, path).splice(index, 1);
                parent.slideUp(200, function () {
                    var pp = parent.parent();
                    $(this).remove();
                    updateindexes(pp);

                });

            })

            //Display a JSON version of the editingObject:
            $("#viewjson").click(function () {
                alert(JSON.stringify(editingObject, null, 2));
            })

            //Set up the accordion-like UI:
            $('.center').find('h2').prepend("<i class='fa fa-angle-right'></i>&nbsp;&nbsp;")
            $('.center').find('h2').click(function () {
                if ($(this).next().css("display") == "none")
                    this.children[0].style.transform = "rotate(90deg)"
                else
                    this.children[0].style.transform = "rotate(0deg)"
                $(this).next().slideToggle();

            }).next().hide();

            //Make sure the language select box is always visible
            $("#stickyLanguage").sticky({ topSpacing: 0 });

            //Set up image uploading mechanism
            $("#profile-img-input").change(function () {
                var files = $(this)[0].files;
                if (files.length > 0) {
                    var file = files[0]
                    $('#rectangle-preview').attr('src', window.URL.createObjectURL(file));
                    $('#preview-size').html(file.size + ' bytes');
                }
            })

            $("#sendjson").click(function (e) {
                console.log("sending data...");
                var formData = new FormData();
                formData.append("json", JSON.stringify(editingObject));
                formData.append("profileimg", document.getElementById("profile-img-input").files[0])

                $.ajaxSetup({ beforeSend: function () { $('#loader').fadeIn(200); }, afterSend: function(){$('#loader').fadeOut(200);} });
                $.ajax({
                    url: '/data/person/edit/upload',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    error: function (jas, ers, ers2) {
                        var error = {};
                        try{
                            error = JSON.parse(jas.responseText);
                        }catch(exception){}
                        var errormessage = "";
                        if(error.errors != undefined){
                            errormessage += "<ul>"
                           for(ex in error.errors){
                               errormessage += "<li>" + error.errors[ex].message + "</li>";
                           }
                           errormessage += "</ul>"
                        }
                        $('#loader').fadeOut(200);
                        var zebm = new $.Zebra_Dialog(errormessage, 
                        { type: "error", 
                          title: jas.status + ": " + jas.statusText,
                        });
                    },
                    success: function (jas, ers, ers2) {
                        window.location.href = ers2.responseText;
                    }
                });
            })
        </script>
        <% include ../../Partials/Footer.html %>
</body>