<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ActEuropa</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/common/css/normalize.css">
    <link rel="stylesheet" href="/database/css/main.css">
    <link rel="stylesheet" href="/common/css/metricsgraphics.css">
    <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
    <% include ../../Partials/Favicons+Fonts.html %>
</head>

<body>
    <% include ../../Partials/Header.html %>
        <div class="person_BG">
            <img class="bgImg" src="http://o.aolcdn.com/dims-shared/dims3/GLOB/crop/5568x2784+0+464/resize/630x315!/format/jpg/quality/85/http%3A%2F%2Fo.aolcdn.com%2Fhss%2Fstorage%2Fmidas%2F28daa5437035cabbd3c0ec51c5bac3b4%2F204691099%2F000_IZ6GJ.jpg"
            />
            <div class="bgOverlay"></div>
        </div>
        <div class="columnWrapper">
            <div class="leftColumn">
                <div class="leftColumn_content">
                    <div class="profile_img_wrap">
                        <img class="profile_img" src="http://cdn-lejdd.ladmedia.fr/var/europe1/storage/images/lejdd/politique/emmanuel-macron-veut-une-europe-a-deux-vitesses-735082/34258097-2-fre-FR/Emmanuel-Macron-veut-une-Europe-a-deux-vitesses.jpg">
                    </div>
                    <h2 class="serifheader">Currently</h2>
                    <a class="position currentpos">
                        <div>
                            <h1 class="miniheader">President elect of France</h1>
                            <h3 class="minisubheader">Since 7 May 2016</h3>
                        </div>
                    </a>
                    <h2 class="serifheader">Previously</h2>
                    <a class="position">
                        <div>
                            <h1 class="miniheader">Candidate at the 2017 presidential election</h1>
                            <h3 class="minisubheader">30 August 2016 - 7 May 2017</h3>
                        </div>
                    </a>
                    <a class="position">
                        <div>
                            <h1 class="miniheader">Minister of the Economy, Industry and Digital Affairs</h1>
                            <h3 class="minisubheader">26 August 2014 – 30 August 2016</h3>
                        </div>
                    </a>
                    <a class="position">
                        <div>
                            <h1 class="miniheader">Investment banker at Rotshild &amp; Cie</h1>
                            <h3 class="minisubheader">2008 – 2012</h3>
                        </div>
                    </a>
                    <a class="position">
                        <div>
                            <h1 class="miniheader">Finance inspector at the IGF</h1>
                            <h3 class="minisubheader">2004 – 2008</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="rightColumn">
                <div class="rightColumn_top">
                    <h1 class="personh1">
                        <%= person_name %>
                    </h1>
                    <div style="margin-top:-6px;">
                        <a><img width="32" src="/common/sm-light/img/social_fb.svg"></a>
                        <a><img width="32" src="/common/sm-light/img/social_tw.svg"></a>
                        <a><img width="32" src="/common/sm-light/img/social_yt.svg"></a>
                        <a><img width="32" src="/common/sm-light/img/social_g+.svg"></a>
                    </div>
                    <strong>39 years old (21/12/1977)</strong><br>
                    <span>France</span>
                </div>
                <div class="rightColumn_bottom">
                    <ul class="political_party_ul">
                        <li class="political_party_btn">
                            <a>
                                <table>
                                    <tr>
                                        <td><img src="/database/img/party_logos/france/em.svg"></td>
                                        <td>
                                            <h1 class="miniheader partyname">En marche!</h1>
                                            <h3 class="minisubheader partyname">Since 2016</h3>
                                        </td>
                                    </tr>
                                </table>
                            </a>
                        </li>
                        <li class="political_party_btn">
                            <a class="position">
                                <table>
                                    <tr>
                                        <td><img src="/database/img/party_logos/france/ps.svg"></td>
                                        <td>
                                            <h1 class="miniheader partyname">Parti socialiste</h1>
                                            <h3 class="minisubheader partyname">2006 to 2009</h3>
                                        </td>
                                    </tr>
                                </table>
                            </a>
                        </li>
                        <li class="political_party_btn">
                            <a>
                                <table>
                                    <tr>
                                        <td><img src="/database/img/party_logos/france/fn.svg"></td>
                                        <td>
                                            <h1 class="miniheader partyname">Front national</h1>
                                            <h3 class="minisubheader partyname">Lol, never. This is just for testing purposes.</h3>
                                        </td>
                                    </tr>
                                </table>
                            </a>
                        </li>
                    </ul>
                    <div class="vosem-wrapper">
                        <% include ../../Partials/Chart.html %>
                    </div>
                    <div class="bio">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut iaculis sit amet sapien et ullamcorper.
                            Cras a varius augue. Nunc congue velit tellus. Integer faucibus tellus dolor, vitae vestibulum
                            magna tristique ac. Nulla vel odio lacinia, luctus erat ac, ornare sapien. Fusce eleifend facilisis
                            tellus, quis condimentum ante elementum sed. Donec lacinia felis sagittis commodo vestibulum.
                            Fusce venenatis metus urna, suscipit egestas augue varius eu. Phasellus ante diam, fermentum
                            sed iaculis sed, ultrices vitae erat.
                        </p>
                        <p>Donec tempor molestie ligula, in mollis orci placerat a. Ut id arcu ut eros iaculis dictum non id
                            risus. Phasellus ac eros purus. Nam sagittis leo sed suscipit consectetur. Donec malesuada orci
                            non tortor hendrerit, eu euismod enim pharetra. Phasellus blandit venenatis urna eu fermentum.
                            Nunc efficitur felis eu magna fermentum, at semper turpis cursus. Aliquam blandit non risus ac
                            eleifend. Ut quis massa eu erat varius congue.
                        </p>
                        <p>Aliquam a tempus arcu. Phasellus quis dui in dui tincidunt posuere. Duis iaculis augue est, feugiat
                            sagittis diam tempor id. Nunc dapibus neque arcu, a lacinia nisi dictum et. Nam porttitor sit
                            amet tellus lobortis porta. Sed ac nisi ut turpis tristique mattis. Fusce vitae sodales quam.
                            Suspendisse potenti. Mauris et nisi ligula. Ut sodales purus justo. Mauris scelerisque libero
                            nec nulla euismod, ac ultricies enim eleifend. Nulla condimentum congue turpis, nec vehicula
                            nisi venenatis id. Curabitur varius, leo et lacinia pharetra, urna neque mattis nisi, non tincidunt
                            mi dolor ut ipsum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <% include ../../Partials/Footer.html %>
            <script src="/js/plugins.js"></script>
            <script src="/js/3js/3xdom.js"></script>
            <script src="/js/3js/three.min.js"></script>
            <script src="/js/3js/combinedcamera.js"></script>
            <script src="/js/3js/tween.js"></script>
            <script src="/js/3js/controls/OrbitControls.js"></script>
            <script src="/js/3js/Detector.js"></script>
            <script src="/js/3js/libs/stats.min.js"></script>
            <script src="https://d3js.org/d3.v4.min.js"></script>
            <script src="/js/metricsgraphics.min.js"></script>
            <script src="/js/Chart.js"></script>
            <script>
                function Person(FirstName, LastName, DateOfBirth, Liberal_sc, Libertarian_sc, ProEU_sc, Bio, Beliefs, Party, Country, Color) {
                    this.FirstName = FirstName;
                    this.LastName = LastName;
                    this.DateOfBirth = DateOfBirth;
                    this.Liberal_sc = Liberal_sc;
                    this.Libertarian_sc = Libertarian_sc;
                    this.ProEU_sc = ProEU_sc;
                    this.Bio = Bio;
                    this.Beliefs = Beliefs;
                    this.Party = Party;
                    this.Country = Country;
                    this.Color = Color;
                }
                NewVosem([new Person("Emmanuel", "Macron", "21/12/1977", 80, 70, 80, "", "", "En Marche!", "FR", "#377672")], undefined, "transparent", false, true)
            </script>

</body>

</html>