<nav id="navcont">
    <table>
        <div id="logo" style="text-align:left;font-size:24px;display:flex;">
            <div>
                <span style="color: #C73E12;">ACT</span><span>EUROPA</span><span style="color: #C73E12;"></span>
            </div>
            <div>
                <div style="margin-top:-6px;margin-left:12px;">
                    <a><img width="32" src="/img/icons/social_fb.svg"></a>
                    <a><img width="32" src="/img/icons/social_tw.svg"></a>
                    <a><img width="32" src="/img/icons/social_yt.svg"></a>
                    <a><img width="32" src="/img/icons/social_g+.svg"></a>
                </div>
            </div>
            <div style="flex-grow:3;">
                <div style="float:right;line-height:16px;font-size:14px;font-weight:400;text-align:right;">
                    <p><a style="color:white;">VoteEuropa</a></p>
                    <p><a style="color:white;">VoteEuropa moderation platform</a></p>
                    <p><a style="color:white;">ActEuropa admin panel</a></p>
                </div>
            </div>
        </div>
    </table>

</nav>