html {
    font-size: 1em;
}
body{
    font-family: Vollkorn, serif;
    line-height:2em;
}

a{
    font-size: 1em;
    text-decoration: none;
    vertical-align: text-bottom;
    color: black;
    opacity: 0.34;
    margin: 0px;
    line-height:1.25em;
    transition: 200ms;
    cursor:pointer;
}
a:hover{ opacity:0.6;}
a:active{ opacity:0.8; }

h2:after {
    content:' ';
    display:block;
    border:0.5px solid black;
    margin: 4px 0px 24px 0px;
    opacity: 0.1;
 }
 h6{
     margin:0;
     padding:0;
     line-height:1em;
     font-size:0.8em;
     font-weight:400;
     opacity:0.5;
 }

/* POLITICAL DATA PAGE */
.option {
    opacity: 0.8;
}
.optionheader {
    font-weight: bold;
    margin-top: 6px;
    opacity:1;
}
select:not(:checked) {
   color: #002F55;
}
select{
    background-color: #eaeaea;
    border-style: none;
}

.plainbtn{
    font-family: Vollkorn, serif;
    opacity: 1;
    color: #002F55;
    cursor:pointer;
    transition:200ms;
}
.plainbtn:hover{opacity:0.75;}
.plainbtn:active{opacity:0.4;}
.btndiv{ margin-top:-8px;}

.filter{
    border-collapse: collapse;
}
.filter>tbody>tr>td{
    line-height:20px;
}

/*Data list */
#flexfilter{
     flex-grow:0;
     flex-shrink:3;
     flex-basis: 320px;
     padding-left:12px;
}

#sticky-list  {
  height:256px;
  overflow: hidden;
  position: relative;
}

/* Data list */
#sticky-list-cont{
  border-color: #7f97aa;
  border-style:solid;
  border-width:1px;
  padding-left:18px;
  margin-top:8px;
}
#sticky-list > ul {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  /*This is just to a fix a very odd glitch when you're scrolled down */
  padding-bottom:2px;
}
ul.s{
  list-style: none;
  margin: 0;
  padding: 0;
}
li.s {
    font-size:0.9em;
    line-height:12px;
}
.listitem{
    margin-top:12px;
    line-height: 12px;
    opacity:0.6;
    cursor:pointer;
    color:#002F55;
    transition: 200ms;
}
.listitem:hover{ opacity:0.75;}
.listitem:active{ opacity:1; transform: translateX(4px)}
/* Section headers */
#sticky-list > ul > li strong {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    color: #002F55;
    background: #EAEAEA;
    line-height:16px;
    box-sizing: border-box;
    display:inline-block;
    padding-top:12px;
    width:100%;
    z-index: 8;
}
#sticky-list > ul strong:after {
    content:' ';
    display:block;
    border:0.5px solid #002F55;
    margin: 0px 60px 0px 0px;
    opacity: 0.2;
    background: #EAEAEA;
 }
/* Section headers when "sticky" */
#sticky-list > ul > li.sticky strong {
  position: absolute;
  top:0;
}

/* SELECTED DATA LIST */
.datalist{
    display:flex;
    flex-wrap: wrap;
    align-content: stretch;
}
.profile{
    padding: 12px;
    flex-shrink:0;
    flex-grow: 2;
    flex-basis:300px;
    width:auto;
    transition:100ms;
}
.profile a{
    opacity:1;
}
.profile a:hover{
    opacity:1;
}
.profile:hover{
    background-color: #F2F2F2;
}
.center{
    max-width:854px;
    margin: auto;
    padding-left:12px;
}
.circular--portrait {
  position: relative;
  width: 96px;
  height: 96px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--portrait img {
  width: 100%;
  height: auto;
}
.txt_name{
    color:#C73E12;
    margin:0;
    line-height:12px;
    display:block;
}
.txt_birth{
    line-height:28px;
    display:block;
}
.txt_party{
    opacity:0.75;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    margin: 0;
    line-height:24px;
    display:block;
}
.profilebtn{
    padding-top:8px;
    padding-left:12px;
    padding-right:12px;
}

.country-BG{
	background-color: black;
	background-image: url(../img/country_cover/FR.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 428px;
}
.economy-BG{
	background-color: black;
	background-image: url(../img/country_cover/economy.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
.BG-overlay{
    background-color:#001C33;
    opacity:0.85;
    width:100%;
    height:428px;
    position:absolute;
}
.country{
	display: block;
	position:relative;
	top: 50%;
	transform: 			translateY(-50%);
}
.largetext{
	color: white;
	font-family: Montserrat, sans-serif;
	font-weight: bold;
	font-size: 48px;
}
.countryheader{
	color: white;
	font-family: Montserrat, sans-serif;
	font-weight: bold;
	font-size: 36px;
}
.subcategory_header{
	color:white;
	display:inline-block;
	margin-top:36px;
    margin-bottom:12px;
	font-family: Montserrat, sans-serif;
	font-weight: bold;
	font-size: 26px;
}
.subcategory_floatright{
    margin-top:36px;
    float:right;
}
.graphlist{
    display:flex;
    flex-wrap:wrap;
}
.graph{
	width:240px;
	height:128px;
	border-color: white;
	border-style: solid;
    border-width:1px;
    color:white;
}
.graph_container{
    margin-right:24px;
    max-width:240px;
}
.graph_title{
    display:block;
    margin-top:12px;
    font-size:32px;
    font-weight: bold;
    color:white;
}
.graph_value{
    display:block;
    color:white;
    font-size:24px;
    line-height:24px;
    margin-bottom:10px;
}
.graph_rating{
    color:white;
    font-size:14px;
}
.graph_place{
    color:white;
    opacity:0.5;
    font-size:14px;
}
/*POLITICIAN PAGE*/

.profilephoto{
    width:200px;
    height:200px;
}
.serifheader{
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 1.25em;
    color: #C73E12;
}
.columnWrapper{
    width: 100%;
    display: flex;
    align-content: flex-start;
    padding-left: 0px;
    justify-content: center;
}
.leftColumn{
    padding-left: 0;
    justify-content: flex-end;
    max-width: 300px;
    width: 300px;
}
.leftColumn_content{
    float:right;
    line-height: 24px;
}
.rightColumn{
    justify-content: flex-start;
    padding-right: 0;
    padding-left: 24px;
    width:700px;
    max-width:700px;
    position: relative;
}
.rightColumn_top{
    color:white;
    font-family: Montserrat, sans-serif;
    line-height: 26px;
    display: table;
    height: 350px;
    margin-bottom: 48px;
}
.rightColumn_top > div{
    display: table-cell;
    vertical-align:middle;
}
.rightColumn_top strong{
    font-weight: "Thin";
    opacity: 1;
    font-weight:400;
    font-size:0.9em;
}
.rightColumn_top span{
    opacity: 0.75;
    font-weight:300;
    font-size:0.9em;
}
.rightColumn_bottom{
    position: absolute;
    bottom:0;
}
.profile_img_wrap{
    width: 300px;
    height: 450px;
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.3);
}
.profile_img_wrap.no-shadow{
    box-shadow: unset;
}
.profile_img {
  position:absolute; 
  height:100%;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.position{
opacity:1;
margin-top:-29px;
font-weight:400;
}
.position > h1{
    font-size:0.75em;
    font-weight:400;
}
.position div{
    padding: 12px;
    border:solid 1px grey;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.2s ease-in-out;
}
.currentpos h1{
    font-size: 0.9em;
    font-weight:bold;
}
.currentpos div{
    border:solid 1px #c77c63
}
.position:hover{
    opacity:1;
}
.position div:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border:solid 1px black;
}
.currentpos div:hover{
    border:solid 1px #c73e12;
}
.miniheader{
    line-height:18px;
    font-size:0.8em;
    padding: 0 6px;
    margin:0;
    font-weight:400;
}
.partyname{
    margin:0;
}
.minisubheader{
    font-size:0.75em;
    color:grey;
    font-weight:normal;
    padding: 0 6px;
    margin:0;
    margin-top:-4px;
}
.currentpos div .miniheader{
    line-height:20px;
    font-size:0.9em;
    color: #c73e12;
}

.person_BG{
    height:350px;
    width:100%;
    background:#002f55;
    position:absolute;
    z-index:-1;
    overflow:hidden;
}
.personh1{
    font-family: Montserrat, sans-serif;
    color:white;
    font-size:3em;
    margin-bottom:8px;
    margin-top:0;
    line-height:1em;
}
.personSocial{
    margin: 0 0 12px ;
    display: block;
}
.flagIcon{
    width:30px;
    height:20px;
    margin-right:6px;
    
}
.bgImg{
    width:100%;
    height:100%;
    background-image: url("http://i.imgur.com/PjNjCt5.jpg");
    background-size: cover;
    background-position: center;
    filter: grayscale(100%) blur(6px);
    opacity: 0.75;
}
.bgOverlay{
    width:100%; 
    height:100%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    background:#00172a;
    opacity:0.5;
    z-index:1;
}
.political_party_ul{
    margin:0;
    padding-left:0;
}
.political_party_ul:after{
    clear: both;
    content: "";
    display: block;
}
.political_party_btn{
    height: 64px;
    float:left;
    background: rgba(255,255,255,0.6);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.2s ease-in-out;
    list-style-type:none;
    margin-left:4px;
    margin-top:4px;
}
.political_party_btn td{
    height:64px;
}
.political_party_btn:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.political_party_btn img{
    max-height:40px;
    max-width:82px;
    height:100%;
    padding:12px;
    vertical-align:center;
    object-fit: contain;
}
.political_party_btn a{opacity:1;}
.political_party_btn a:hover{opacity:1}
.partyname{
    padding:0 18px 0 0;
    text-align:left;
}
.lowerzone{
    font-size:1em;
    line-height:1.2em;
    max-width:1024px;
    margin:auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.vosem-wrapper{
    clear: both;
    content: "";
    display:block;
}
.vosem-wrapper canvas:active{
    cursor: move;
}
.quoteblock{
    background:#f2f0f0;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}
.quoteblock p{
    font-family:Montserrat, sans-serif;font-size:0.8em;text-align:right;padding: 0px 16px 12px;
}
.bio{
    flex-basis: 480px;
    flex-shrink: 1.5;
}

.muted {
    color: #999999;
}
.hr-light {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #999999;
    margin: 1em 0;
    padding: 0;
}
/*simple grid based off http://css-tricks.com/dont-overthink-it-grids/*/
.grid:after {
    content: "";
    display: table;
    clear: both;
}
[class*='col-'] {
    float: left;
}
[class*='col-']:last-of-type {
    padding-right: 0;
}

.col-sand-right {
    width: 100%;
    margin: 0 auto;
    padding: 0;

}
.timeline-event {
    cursor: pointer;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -ms-transition: all 250ms;
    -o-transition: all 250ms;
    position:absolute;
    width: auto;
}
.timeline-event:before {
    top: 1px;
    content: ' ';
    display: block;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
}
.timeline-event:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    background-color: rgba(234,234,234,0.75);
    z-index: 9999;
}
/*timeline containers*/
.right-timeline {
    min-height: 1px;
    position: relative;
}
.right-timeline .timeline-event {
    border-left-width: 2px;
    border-left-style: solid;
    text-align: left;
    float: left;
}
.right-timeline .timeline-event p,
.right-timeline .timeline-event figure {
    float: left;
}
.right-timeline .timeline-event.selected {
    text-align: left !important;
    float: none !important;
    overflow: hidden;
}
.right-timeline .timeline-event.selected p,
.right-timeline .timeline-event.selected figure {
    float: none !important;
}
.center-timeline {
    min-height: 1px;
    border-radius: 3px;
}
#currentdate{
    position: absolute;
    border-bottom: 1px dashed rgba(0,0,0,0.3);
    height:1px;
    left:0;
    right:88px;
    pointer-events: none;
    opacity:0.4;
    margin:auto;
}
#currentdate span{
    float:right;
    margin-top: -10px;
    margin-right: -80px;
}
.timeline-grid:hover #currentdate{
    opacity:1;
}
.widthtester{
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap;
}
.criminalrecitem{
    padding-bottom:12px;
}
.criminalrecitem h4{
    color:#002f55;
    margin:0;
    margin-bottom:4px;
}
.criminalrecitem span{
    color:#002F55;
    opacity:0.75;
    font-size:0.8em;
}
.warningSpan{
    font-size:1em;
    font-weight:bold;
    color:#C73E12;
    font-family:Montserrat,sans-serif;
}
@media screen and (max-width: 700px) {
  .columnWrapper {
    display:block;
    clear:both;
  }
  .profile_img_wrap{
      width:150px;
      height: 225px;
  }
  .person_BG{
      height:450px;
  }
  .leftColumn_content{
      float:none;
      margin-left:18px;
  }
  .rightColumn_top{
      padding-top:0;
      height:200px;
  }
  .rightColumn{
      width:auto;
  }
  .lowerzone{
      margin:12px;
  }
}