<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ActEuropa</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/common/css/normalize.css">
    <link rel="stylesheet" href="/common/css/main.css">
    <link rel="stylesheet" href="/common/css/metricsgraphics.css">
    <link rel="stylesheet" href="/common/css/nice-select.css">
    <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
    <% include ../../Partials/Favicons+Fonts.html %>
</head>

<body>
    <% include ../../Partials/Header.html %>
    <div class="center">
    <br>
    <h1>Manifesto</h1>
    Hello,<br>This is just a test to try out what this will look like once we've actually got content here.
    <h2>Our mission</h2>
    We are currently busy writing a manifesto, you can find out when it will be ready <a href="https://www.reddit.com/r/acteuropa/comments/67xwiw/mod_announcement_heres_the_plan/">here</a>.
    <h2>Tests</h2>
    <p><strong>Lorem ipsum</strong> dolor sit amet, <em>consectetur adipiscing elit.</em> <code>Vestibulum risus dolor, imperdiet in lacus a, ultrices porta dolor.</code> Mauris sed elit imperdiet, bibendum justo vitae, placerat justo. In dignissim diam sed elit dictum porta. Cras rhoncus, tellus at commodo mattis, ligula augue rutrum arcu, ac venenatis tellus lorem id lorem. Phasellus imperdiet elit vel lectus aliquet, ut volutpat mi egestas. Nam consectetur blandit consequat. In in nibh risus. Phasellus consectetur, mauris ac tristique bibendum, dolor sem rutrum diam, et ultrices purus felis iaculis nulla. Sed maximus at lorem sollicitudin lacinia. Morbi cursus eget augue nec posuere. Pellentesque efficitur efficitur volutpat.</p>
    <p>Aliquam diam diam, malesuada sit amet pharetra et, laoreet eu sem. Morbi porta pharetra metus non imperdiet. Proin ac tincidunt turpis. Vestibulum fermentum ullamcorper justo, ultrices convallis ante elementum sed. Nunc molestie mauris sem, eget feugiat risus interdum sit amet. Curabitur luctus, purus a dictum lobortis, velit est feugiat lorem, nec maximus massa leo ac metus. Quisque sed pharetra eros. Nam commodo leo at commodo lacinia. Nulla vestibulum sem id velit euismod commodo non id urna. Mauris id tortor risus. Nulla pharetra lectus massa. Etiam porttitor tincidunt sem, nec luctus libero vulputate sed. Morbi eget posuere sem, eget ornare risus. </p>
    I just need to test what it looks like if I try writing <code>code</code>
    <h3>More lorem ipsum:</h3>
    <p>Suspendisse volutpat leo neque, non faucibus magna accumsan a. Aliquam finibus ullamcorper quam convallis tincidunt. Morbi pharetra finibus purus, id imperdiet orci eleifend vitae. Ut mollis, diam non scelerisque ullamcorper, ligula massa porttitor tortor, sit amet auctor ante enim nec tortor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus ornare arcu nisl, sed posuere est blandit in. Ut semper sapien nibh, eu mollis nisl luctus non.</p>
    <h4>A smaller header</h4>
    <p>In interdum faucibus odio, eu luctus est. Morbi pellentesque nunc quis velit semper, eu lobortis velit varius. Praesent euismod urna sed ipsum tristique, eget suscipit tortor lobortis. Proin tincidunt vitae nunc eget sagittis. </p>
    <h5>An even smaller header</h5>
    <p>
        And here's a list:
        <ul>
            <li>First element of the list</li>
            <li>Second element of the list</li>
            <li>Third element of the list</li>
        </ul>
    </p>
    <h6>A tiny header</h6>
    And one last test, the test of, not only some text in <strong>bold</strong>, <em>italic</em>, or <s>strike through</s>, but also <sub>tiny subscript tex</sub> and to finish everything off, there is here a quote:
    <blockquote>
        This is a quote, told to absolutely nobody ever because it's just a way to test this system.
    </blockquote>
    </div>
    <% include ../../Partials/Footer.html %>
</body>

</html>